<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">The Image Management App</h1>
    <p class="lead">Sign up and start managing your images today.</p>
  </div>
</div>


    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <h3>Premuim Plan</h3>
      <ul class="list-unstyled">
        <li class="list-item">Unlimited Image Uploads</li>
        <li class="list-item">Responsive Design</li>
        <li class="list-item">Access Anywhere</li>
        <li class="list-item">£5.99 p/m</li>
      </ul>
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-info" %>
    </div>
    <div class="col-sm-3">
      <h3>Amaze Plan</h3>
      <ul class="list-unstyled">
        <li class="list-item">Unlimited Image Uploads</li>
        <li class="list-item">Responsive Design</li>
        <li class="list-item">Access Anywhere</li>
        <li class="list-item">Unlimited Projects</li>
        <li class="list-item">1 doughnut a month</li>
        <li class="list-item">£9.99 p/m</li>
      </ul>
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-info" %>
    </div>
    <div class="col-sm-3"></div>

